body {
    font-family: "Gotham SSm A", "Gotham SSm B", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #DAD9D9;
}

#Header {
    background-color: #1266AC;
}


h1 {
    background-color: #1266AC;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 1%;
}

#counterBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    height: 30%;
    background-color: #1266AC;
    color: #ffffff;
    padding: 1%;
}

#currentNumber {
    margin: 0%;
}

#counterSpace {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0%;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#counterBox p {
    font-size: smaller;
    text-align: center;
}

#select-day {
    text-align: center;
    margin-top: 1%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#graphBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color: #1266AC;
    padding: 1%;
    margin: auto;
    margin-top: 20px;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    font-size: smaller;
    text-align: center;
}

#select-day {
    margin-top: 1.5%;
}

#chartBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 1%;
    margin: auto;
    margin-top: 20px;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    font-size: smaller;
    text-align: center;
}